@media (min-width: 400px) {
}

nav {
	align-items: center;
	padding: 1rem 1.5rem;

	.nav-wrapper {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		.nav-left {
			display: flex;
			.hamburger {
				span {
					&:last-child {
						display: none;
					}
				}
			}
			a {
				&:last-child {
					display: none;
				}
			}
		}

		.nav-logo {
			.logo-link {
			}
		}

		.nav-cart {
			.cart {
				margin-right: 5px;
				span {
					&:last-child {
						display: none;
					}
				}
			}
			.button {
				display: none;
			}
		}
	}
}
